<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidrapp.ruichin.foodscanning">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Muslim.result" />
        <activity android:name=".Muslim.status" />
        <activity android:name=".Muslim.suggestion" />
        <activity android:name=".Muslim.status2" />
        <activity android:name=".Vegan.result2" />
        <activity android:name=".Vegan.status3" />
        <activity android:name=".Vegan.status4" />
        <activity android:name=".Vegan.suggestion2" />
        <activity android:name=".scanV"></activity>
    </application>

</manifest>